$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #fff;
$font-color: #dfdfdf;
$white: #fff;
$grey: #808080;
$button-form-width: 150px;
$color-lime: #cddc39;
$color-green: #00e676;
$color-hover: #00c853;

body {
  color: $font-color;
}

#style-nav {
  border: $white;
}

.style-main-header {
  color: $color-lime;
  text-align: center;
  }

#center-tiles{
margin: 0 auto;
max-width: 300px;
}

.box {
  border: 5px solid $color-lime;
}

div .col-xs-4 {
  background-color: $color-lime;
  border: 5px solid $color-lime;
  color: $color-lime;
  height: 100px;
  margin: 2px;
  width: 100px;
}

div .col-xs-4:hover {
  background-color: #d4e157;
}

.button-form {
  width: $button-form-width;
}


  #button-password{
    margin-top: 10px;
    background: $color-green;
    border-color: $white;
  }

  #button-signup-nav {
    margin-top: 8px;
    background: $color-green;
    border-color: $white;
  }

  #button-signin-nav {
    margin-top: 8px;
    background: $color-green;
    border-color: $white;
  }

  #button-signout-nav {
    margin-top: 8px;
    background: $color-green;
    border-color: $white;
  }

  #button-password:hover{
    background: $color-hover;
    border-color: $white;
  }

  #button-signup-nav:hover {
    background: $color-hover;
    border-color: $white;
  }

  #button-signin-nav:hover {
    background: $color-hover;
    border-color: $white;
  }

  #button-signout-nav:hover {
    background: $color-hover;
    border-color: $white;
  }

  #style-signup {
    border: 1px solid $color-green;
    font-weight: 500;
  }

  #style-signin {
    border: 1px solid $color-green;
    font-weight: 500;
  }

  #style-changepassword {
    border: 1px solid $color-green;
    font-weight: 500;
  }

  #style-signout {
    border: 1px solid $color-green;
    font-weight: 500;
  }

  #style-signup:hover {
    background-color: $color-green;
    font-weight: 500;
  }

  #style-signin:hover {
    background-color: $color-green;
    font-weight: 500;
  }

  #style-changepassword:hover {
    background-color: $color-green;
    font-weight: 500;
  }

  #style-signout:hover {
    background-color: $color-green;
    font-weight: 500;
  }

a {
  color: $white;
}

form {
  border-color: $white;
}

label {
  color: grey;
  margin: 10px 0;
}
