$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #fff;
$font-color: #dfdfdf;
$white: #fff;
$grey: #808080;
$button-form-width: 150px;
$color-lime: #cddc39;
$color-green: #00e676;
$color-hover: #00c853;

body {
  color: $font-color;
}

#style-nav {
  border: $white;
  }

.style-main-header {
  color: $color-lime;
  text-align: center;
  }

#center-tiles {
  margin: 0 auto;
  max-width: 300px;
  }

.modal-content {
  width: 250px;
}

.box {
  border: 5px solid $color-lime;
}

div .col-xs-4 {
  background-color: $color-lime;
  border: 5px solid $color-lime;
  color: $color-lime;
  height: 100px;
  margin: 2px;
  width: 100px;
}

div .col-xs-4:hover {
  background-color: #d4e157;
}

.button-form {
  width: $button-form-width;
}


#button-password {
  background: $color-green;
  border-color: $white;
  margin-top: 10px;
  }

#button-signup-nav {
  margin-top: 8px;
  background: $color-green;
  border-color: $white;
  }

#button-signin-nav {
  background: $color-green;
  border-color: $white;
  margin-top: 8px;
  }

#button-signout-nav {
  background: $color-green;
  border-color: $white;
  margin-top: 8px;
  }


#button-password:hover {
  background: $color-hover;
  border-color: $white;
  }

#button-signup-nav:hover {
  background: $color-hover;
  border-color: $white;
  }

#button-signin-nav:hover {
  background: $color-hover;
  border-color: $white;
  }

#button-signout-nav:hover {
  background: $color-hover;
  border-color: $white;
  }

.style-button-password {
  display: none;
}

.style-button-signout {
  display: none;
}


.create-button {
  display: none;
  background-color: $white;
  border: 1px solid $color-green;
  color: $color-green;
}

.create-button:hover {
  background-color: $color-green;
  border: 1px solid $color-green;
  color: $white;
}

#style-signup {
  border: 1px solid $color-green;
  font-weight: 500;
}

#style-signin {
  border: 1px solid $color-green;
  font-weight: 500;
}

#style-changepassword {
  border: 1px solid $color-green;
  font-weight: 500;
}

#style-signout {
  border: 1px solid $color-green;
  font-weight: 500;
}

#style-signup:hover {
  background-color: $color-green;
  font-weight: 500;
}

#style-signin:hover {
  background-color: $color-green;
  font-weight: 500;
}

#style-changepassword:hover {
  background-color: $color-green;
  font-weight: 500;
}

#style-signout:hover {
  background-color: $color-green;
  font-weight: 500;
}

.message {
  margin-left: 30px;
}

.game-board {
  display: none;
}

#button-play {
  background-color: $color-green;
  border: 0;
  border-radius: 0;
  margin-left: -12px;
  margin-top: 5px;
  width: 308px;
  }

#button-play:hover {
  background-color: $color-hover;
  }

#game-stat {
  background-color: #00e676;
  border: 0;
  border-radius: 0;
  color: $white;
  margin-left: -12px;
  margin-bottom: -10px;
  width: 308px;
}

#game-stat:hover {
  background-color: $color-hover;
  }

.game-score {
  margin-top: 15px;
  margin-left: - 10px;
}

.won-messagex-style {
  display: none;
  font-size: 16px;
  margin-left: -10px;
}

.won-messageo-style {
  display: none;
  margin-left: -10px;
}

.draw-message-style {
  display: none;
  margin-left: -10px;
}

.jumbotron p {
  font-size: 16px;
  font-weight: 400;
}

p {
  color: $color-green;
}

a {
  color: $white;
}

form {
  border-color: $white;
}

label {
  color: #808080;
  margin: 10px 0;
}

img {
  margin-left: -20px;
  margin-top: -5px;
}
